@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* remove default html */
*, body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  cursor: none;

}
body{
  background: url(../IMAGES/background-3.png);
}
html{
  scrollbar-color: var(--color3) var(--color2);
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 1vw;
}
html::-webkit-scrollbar-thumb{
  background: var(--color3);
  max-height: 100px;
  border-radius: 20px;
}
html::-webkit-scrollbar-track{
  background: var(--color2);
}
/* End of Default */
/* Set Root Colors */
:root {
    --color1: #131320;
    --color2: #D9D9D9;
    --color3: #9B51E0;
    --color4: #fff;
}
body, p, ul, li, ::before, ::after{
  color: var(--color1);
}

a, i, i:before{
  color: var(--color3);
  text-decoration: none;
  transition: 0.6s ease;
}
a:hover{
  color: var(--color1)
}
.name-wrap{
  background: -webkit-linear-gradient(var(--color1), var(--color3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* end of root colors  */
/* Setting containers */
.fullwidth-layout{
  position: relative;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.container-flex{
  display: flex;
}
.wrap-flex{
  flex-wrap: wrap;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.btn-submit{
  display: inline-block;
  margin-top: 20px;
  background: var(--color3);
    border-radius: 20px;
    padding: 5px 33px;
    color: var(--color4);
    text-decoration: none;
    letter-spacing: 1px;
    border: 5px solid #ffffee91;
    transition: 0.6s ease;
}
.btn-submit:hover{
    background: #4b0d85;
}
.color-1{
  color: var(--color1);
}
.color-2{
  color: var(--color2);
}
.color-3{
  color: var(--color3);
}
.col-3-lg{
  flex: 0 0 30%;
  padding: 10px;
}
.col-33-lg{
  flex: 0 0 33%;
  padding: 10px;
}
.col-5-lg{
  flex: 0 0 50%;
  padding: 10px;
}
.col-6-lg{
  flex: 0 0 60%;
  padding: 10px;
}
.col-7-lg{
  flex: 0 0 70%;
  padding: 10px;
}
.col-2-lg{
  flex: 0 0 20%;
  padding: 10px;
}
.col-1-lg{
  flex: 0 0 10%;
  padding: 10px;
}
.col-8-lg{
  flex: 0 0 80%;
  padding: 10px;
}
.col-25-lg{
  flex: 0 0 25%;
  padding: 10px;
}
.flex-1{
  flex: 1;
}
/* End of containers */
/* Logo Style */
.logo-wrap{
  padding: 10px;
}
.logo-wrap img{
  width: 100%;
  max-width: 200px;
}
.sticky-header{
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #f6f6f6;
    border-bottom: 4px solid var(--color3);
    transition: 0.6s ease;
    top: 0;
}
.width-scale{
  max-width: 115px!important;
}

/* End of Logo Code */
/* Navigation Styles  */
.mobile-header{
  display: none;
}
.navigation-wrap{
    display: flex;
    align-items: center;
}
.navigation-content{
  width: 100%;
}
.navigation-content-inner{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
/* End of Navigation Style */
/*  Contact Btn Style */
.contact-wrap{
  display: flex;
  align-items: center;
}
.btn-contact{
    text-decoration: none;
    color: var(--color3);
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgb(33 94 143 / 16%), -10px -10px 10px -1px rgb(247 247 247 / 70%);
    border: none;
    transition: 0.6s ease;
}
.btn-contact:hover{
    box-shadow: inset 10px 10px 10px -1px rgb(33 94 143 / 16%), inset -10px -10px 10px -1px #a86edd;
    background: var(--color3);
    color: var(--color4);
  }
.fa-address-card:before, .fa-contact-card:before, .fa-vcard:before{
  color: var(--color3);

}
.btn-contact:hover .fa-address-card:before{
  color: var(--color4);
}

/* End of Contact Style */

/* floating email */
.floating-email{
  position: fixed;
    top: 50%;
    transform: translate(0, 44%);
    left: -6%;
    z-index: 9;
}
/*.email-link{
  transform: rotate(90deg);
  position: absolute;
  text-decoration: none;
}*/
/* end of floating email */
/* intro style  */
.content-wrap-text{
  display: flex;
    align-items: center;
}
.content-wrap-img img{
  width: 100%;
}
.wrap-text-inner{

}
.name-wrap{
  font-size: 7rem;
}
.social_wrap ul{
  display: flex;
  list-style: none;
}
.social_wrap ul .social-wrap-inner{
  padding: 10px;
      width: 30px;
    height: 30px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color3);
    margin: 5px;
}
.social_wrap ul .social-wrap-inner
h1.name-wrap::after {
    content: "";
    height: 7px;
    width: 190px;
    background: var(--color3);
    display: block;
    position: absolute;
    margin-top: -37px;
}
/* end of intro style */
/* flow layout */
.flow-layout{
  margin-bottom: -7px;
}
/*end of flow layout*/
/* cursor design */
.custom-cursor-inner{
  width: 10px;
  height: 10px;
  position: fixed;
  left: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--color3);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999999999999;
} 
.custom-cursor-inner.grow{
  width: 25px;
  height: 25px;
  transition: width 0.8s, height 0.8s;
}
.custom-cursor-outer{
  position: fixed;
  left: 10px;
  height: 25px;
  width: 25px;
  border: 2px solid var(--color3);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  border-radius: 50%;
  z-index: 999999999999;
}
/* end of cursor design */
/* floating top */
.box-top{
  position: fixed;
    right: 19px;
    top: 50%;
    z-index: 9999;
    background: #4b0d85d1;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(231 231 231 / 30%);
}
.box-top i:before{
  color: #fff;
}
/* end of floating top */
/* About Styling */
.box-content-wrap{
  display: flex;
    align-items: center;
    flex-direction: column;
    background: #33333329;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -1px #27273263, -10px -10px 10px -1px #1010126b;
    margin: 30px 20px;
    padding: 20px 40px;
}
.box-content-wrap img{
  width: 100%;
  max-width: 100px;
}
.box-content-wrap h2{
  margin-bottom: 20px;
}
.box-content-wrap h2, .box-content-wrap p{
  color: var(--color4);
  text-align: center;
}
.description-wrap{
  padding: 100px 100px;
  
}
.about-wrap h1, .about-wrap h2, .about-wrap h3, .about-wrap p{
  color: var(--color4);
}
.description-wrap h1, .description-wrap p{
  color: var(--color4);
  text-align: center;
}
.fullwidth-layout path{
  fill: var(--color1);
}
.about-layout{
  background: var(--color1);;
}
.wrap-title{
  position: relative;
}

.number-wrap{
  color: var(--color3);
    font-family: "oswald";
    font-size: 7rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.container-title{
    background: #9b51e073;
    position: absolute;
    top: 89px;
    left: 7px;
    color: var(--color4);
    padding: 0 20px;
}

.about-content-box{
    background: var(--color2);
    margin: 10px;
}
.title-wrap{
  font-size: 2rem;
  color: var(--color1);
  padding: 10px 20px;
}
.about-box-wrap{
  padding: 40px;
  display: none;
  transition: height 0.6s ease;
  transition-duration: 1.5s;
  height: 0;
}
.about-content-box:hover .about-box-wrap{
  display: block;
  height: auto;
}
.skill-container{
  width: 100%;
}
.skills-wrap{
  justify-content: space-evenly;
}
.skill-box{
  text-align: center;
  padding: 10px;
  background: #33333329;
  border-radius: 10px;
  margin: 10px 0;
}
.skill-box i{
  font-size: 4rem;
}
.skill-box i:before, .skill-box h5{
  color: var(--color4);
}
.skill-box h5{
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-top: 10px;
  font-size: 10px;
}
.design-box img{
  width: 45px;
}

/* End of About Styling */

/* Start of Timeline */
  .experience-wrap ul{
    border-left: 5px solid #fff;
      margin: 10px;
      padding: 15px;
      list-style-type: none;
      position: relative;
  }
  .experience-wrap-inner h5{
    color: var(--color4);
  }
  .experience-wrap-inner{
    padding: 40px;
    background: #33333329;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 5px solid #fff;
    margin: 20px 0;
    position: relative;
  }
  .experience-wrap-inner::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -31px;
    background-color: #fff;
    border: 4px solid var(--color3);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .experience-wrap-inner::before{
    content: " ";
    border: 10px solid white;
    height: 0;
    position: absolute;
    top: 13px;
    width: 0;
    left: -22px;
    z-index: 1;
    right: 30px;
    border-color: transparent white transparent transparent;
  }
  .experience-wrap-inner h2{
    position: absolute;
    transform: rotate(-90deg);
    left: -19px;
    top: 45px;
    border-bottom: 5px solid;
    font-size: 14px;
    min-width: 125px;
    background: #fff;
    color: var(--color3);
    padding: 7px 16px;
  }
  .experience-content{
    margin-left: 45px;
  }
/* End of Timeline */
/* BX Slider Edits */
.bx-wrapper .bx-prev{
  background: url(../IMAGES/controls.png) no-repeat 0 -32px!important;
}
.bx-wrapper .bx-next{
  background: url(../IMAGES/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-controls-auto .bx-start{
  background: url(../IMAGES/controls.png) -86px -11px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop{
  background: url(../IMAGES/controls.png) -86px -44px no-repeat;
}
.container-work{
  flex-wrap: wrap;
}
.work-box{
    flex: 0 0 30%;
    background: #999;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.work-box img{
  width: 100%;
}
.work-box:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(160deg, #9b51e07a 0%, #1313209e 100%);
    border-radius: 10px;
    transition: 0.8s;

}
.btn_work{
      z-index: 9999999999;
    position: absolute;
    left: 344px;
    top: 79px;
    background: var(--color3);
    border-radius: 20px;
    padding: 5px 33px;
    color: var(--color4);
    text-decoration: none;
    letter-spacing: 1px;
    border: 5px solid #ffffee91;
    transition: 0.6s ease;
}
  .btn_work:hover{
    background: #4b0d85;
  }
.title-work{
  position: absolute;
  opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1313203d;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.6s ease;
}
.btn_visit i:before{
  font-size: 3em;
    color: #fff;
    animation: colorchange 3s infinite alternate;
}
.work-box:hover .title-work{
  opacity: 1;
}
.work-box:hover:before{
    background-image: linear-gradient(160deg, #9b51e04d 0%, #131320 100%);
}
.work-box:hover{
  height: 450px;
}
.title-work h1{
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.title-work p{
  text-align: center;
  color: var(--color4);
  font-size: 13px;
}
/* End of BX Slider Edit */
/* work content */
.work-layout{
  margin: 50px 0;
}
.website-number{
    font-size: 3rem;
    text-align: center;
}
.number-work-wrap{
      background: #9b51e0b0;
    color: #fff;
    padding: 0 10px;
}
.work-content-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-form{
      padding: 50px 20px;
    background: #fff;
    border-radius: 20px;
    border-top: 5px solid #4b0d85;
    border-bottom: 5px solid #4b0d85;
    margin-top: -100px;
}
.title-work h1{
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
    left: -20px;
    top: 50%;
    height: 40px;
    background: #fff;
    width: 100%;
    color: var(--color3);
    transition: 0.6s ease;
}

.work-box:hover .title-work h1{
  left: 15px;
}
/* end of work content */
/* Contact Form */

/* End of Contact Form */
/* Footer layout */
.footer-wrap{
    background: var(--color3);
    color: #fff;
    padding: 20px 40px;
}
/* end of Footer Layout */
/* Contact us form */
.contact-form-wrap{
  padding: 40px 0;
  margin: 30px 0;
  background: #cdcdcd;
}
.contact-form-wrap-inner{
  border: 5px solid;
  background: #fff;
}
.icon-location i:before{
  font-size: 3em;
}
.location-details{
      background: #fff;
    border-bottom: 3px solid var(--color3);
    align-items: center;
    margin-bottom: 5px;
}
.form-group label{
  display: none;
}
.form-group input, .form-group textarea{
  width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 20px;
    box-shadow: 5px 4px #4b0d855c;
}
.form-group textarea{
  min-height: 172px;
}
/* End of Contact Us Form */


.header-logo{
  display: none;
}
/*Thank you message*/
  .thank-you{
     padding: 10px;
     text-align: center; 
     background: #79c879;
     display: none;
    }
/*End of Thank you*/

/* Animations */
@keyframes colorchange{
  from {
    color: #fff;
  }
  to{
    color: var(--color3);
  }
}
 /* End of animations */


 /* Media Queries */

 @media(max-width: 1000px){
  .custom-cursor-inner, .custom-cursor-outer{
    display: none;
  }
  html{
    cursor: default;
  }
 }
@media(min-width: 551px) and (max-width: 800px){

  #about .container-flex{
    flex-wrap: wrap;
    margin-bottom: -1px;
  }
  #about .col-5-lg{
    flex: 0 0 100%;
  }
  
  .work-wrap{
    flex-direction: column-reverse;
  }
  .bx-slider-img{
        display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-top{
    right: 7%;
  }
  .floating-email, .custom-cursor-inner, .custom-cursor-outer{
    display: none;
  }
}
@media(max-width: 550px){
  .mobile-header {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 0.6s ease;
    bottom: 0;
    z-index: 99999;
    display: block;
    }
    .mobile-navigation-wrap{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
    .header-logo{
          position: fixed;
    background: #fff;
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    }
    .header-logo img{
          width: 100%;
    max-width: 120px;
    }
    .mobile-navigation-wrap .navigation-links{
        list-style-type: none;
        position: relative;
        width: 70px;
        height: 70px;
        z-index: 2;
    }
    .mobile-navigation-wrap .navigation-links a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      font-weight: 500;
      color: var(--color3);
    }

    .mobile-navigation-wrap .navigation-links a .nav-icon{
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.5em;
      text-align: center;
      color: var(--color1);
      transition: 0.5s;
    }
    .mobile-navigation-wrap .navigation-links a .nav-icon i:before{
      color: var(--color1)!important;
    }
    .mobile-navigation-wrap .navigation-links:hover a .nav-icon{
      transform: translateY(-35px);
    }
    .mobile-navigation-wrap .navigation-links a .nav-text{
      position: absolute;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.05em; 
      opacity: 0;
      transform: translateY(20px);
    }
    .mobile-navigation-wrap .navigation-links:hover a .nav-text{
      opacity: 1;
      transform: translateY(10px);
    }
  .content-wrap{
    margin-top: 70px;
  }
  .btn_work{
    left: 53%;
    top: 10%;
    width: 120px;
    padding: 7px;
    text-align: center;
    font-size: 12px;
  }
  .container, .skill-container, #contact-form .container-flex{
      flex-direction: column;
  }
  .header-container{
    display: none;
  }
  .content-wrap{
    flex-direction: column-reverse;
  }
  .floating-email{
    display: none;
  }
  .name-wrap{
    font-size: 5rem;
  }
  .description-wrap h1, .description-wrap h2, .description-wrap h3{
    text-align: center;
  }
  .about-layout{
    margin-top: -8px;
  }
  .description-wrap{
    padding: 100px 0;
  }
  .container-form{
    margin-top: 0;
  }
  .skills-wrap{
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .skill-box{
    margin: 10px;
  }
  .container{
    margin-bottom: -1px;
  }
  .work-box{
    flex: 0 0 100%;
    margin: 2px;
  }

  .number-wrap p, .wrap-title p{
    font-size: 13px;
  }
  .email-link{
    font-size: 14px;
  }
  
}
 /* End of Media Queries */

 @media(min-width: 551px){
  .mobile-links{
    display: none;
  }
 }